@-moz-document url("about:addons"),url("chrome://mozapps/content/extensions/extensions.xul") {
	#categories .category:not([disabled]) {transition-duration: .2s !important;}

	@media all and (max-height: 500px) {
		#addons-page #categories {
			margin-top: 0 !important;
			margin-left: 0 !important;
		}

		#categories .category {padding: 1px 6px !important;}
		#categories .category:not([disabled]) {height: 36px !important;}

		#categories .category-icon {
			height: 24px !important;
			width: 24px !important;
			margin: 0 !important;
		}
	}
}