@-moz-document url(chrome://mozapps/content/extensions/extensions.xul), url(about:addons) {
	#list-view .addon-view {padding: 3px 4px 3px 0 !important;}
	#list-view .addon .name-container * {font-size: 14px !important;}

	#list-view .addon .icon-container {
		width: 20px !important;
		height: 20px !important;
	}
	
	#list-view .addon-view {transition: padding .2s ease !important;}

	/* Increase font and icon sizes on large displays */
	@media all and (min-width: 1100px) and (min-height: 700px) {
		#list-view .addon .name-container * {
			font-size: 16px !important;
			font-weight: 600 !important;
		}
		#list-view .addon .description-outer-container *,
		#list-view .addon .basicinfo-container .date-updated {
			font-size: 14px !important;
		}

		#list-view .addon .icon-container {
			width: 23px !important;
			height: 23px !important;
		}
	}

	/* Decrease font and icon sizes when window size is small */
	@media all and (max-height: 350px), (max-width: 550px) {
		#list-view .addon .name-container * {font-size: 11px !important;}
		#list-view .addon .basicinfo-container .date-updated,
		#list-view .addon .advancedinfo-container {
		  font-size: 10px !important;
		}

		#list-view .addon .addon-control {padding: 0 3px !important;}

		#list-view .addon .icon-container {
			width: 15px !important;
			height: 15px !important;
			margin-left: 4px !important;
		}
	}

	@media all and (max-width: 550px) {
		#list-view .addon-view {padding-right: 1px !important;}
		#list-view .addon .addon-control {min-width: 4em !important;}
		#list-view .addon .description-container {opacity: .8 !important;}
	}

	@media all and (max-height: 350px) {
		#list-view .addon-view {
		  padding-top: 1px !important;
		  padding-bottom: 1px !important;
		}
		#list-view .addon .addon-control .button-text {margin: -1px !important;}
	}

	@media all and (max-height: 350px) and (max-width: 899px) {
		#list-view .addon .description-container {opacity: .8 !important;}
	}

	@media all and (max-height: 350px) and (max-width: 550px) {
	}
}